*   {
    margin: auto;
    line-height: 1.5;
}


.navbar {
    background-color: #1E2A37;
    display: flex;
    justify-content: space-between;
    color: white;
} 


.nav-options {
    display: flex;
    list-style: none;
    padding: 10px;
    width: 200px;
}



.flex-container {
    background-color: #1E2A37;
    display: flex;
    color: white;
}

.flex-container img {
    height: 200px;
    width: 300px;
}

.comp1 {
    width: 300px;
    margin-bottom: 20px;
}

.comp1 p {
    text-align: left;
}

.comp2 img {
    border-radius: 20px;
    box-shadow: 0 0 10px orangered;
}

.signup {
    background-color: #3A82F6;
    border-radius: 10px;
    border: 1px solid #1E2A37;
    font-size: medium;
    color: white;
    height: 40px;
    width: 100px;
}

.signup:hover {
    background-color: white;
    color: black;
}

.random-information {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-content: space-around; */
    justify-content: space-evenly;
    width: 90%;
}

.textclass {
    width: 80%;
}

.box1 {
    margin-top: 20px;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid #3A82F6;
}

.placeholder {
    display: flex;
}

.quote {
    background-color: #E5E7EB;
    margin-top: 20px;
    height: 200px;
}

.main{
    padding-top: 70px;
    text-align: center;
    width: 80%;
}

.sub {
    width: 70%;
    text-align: right;
}

.call {
    background-color: #3A82F6;
    border-radius: 10px;
    padding: 30px;
    margin-inline: 200px;
    margin-block: 40px;
    color: white;
    display: flex;
}

.signupnew {
    background-color: #3A82F6;
    border-radius: 10px;
    border: 1px solid white;
    font-size: medium;
    color: white;
    height: 40px;
    width: 100px;
}

.signupnew:hover {
    background-color: white;
    color: black;
}